caption{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

tr{
    border-top: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

table{
    text-align: center;
    border-spacing: 15px 15px;
    border-top: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

/* Increases the size of the numbers in the more info box*/
tr[id^="queryData"]{
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
}

#moreInfo{
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#moreInfo:hover{
    background-color: rgb(88, 146, 204);
}