html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /*doesn't work in Safari*/
    background-color: #27535F;
    font-family: 'Roboto', sans-serif;
}


.pageContainer{
    width: 100vw;
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    width: 100%;
    display: table;
    max-width: none;
    background-color: #EEEEEE;
    height: 90vh;
}
#arrowSection{
    height: 5vh;
    display: none;
}

.content {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
}



#map{
    margin: 0;
    padding: 0;
    height: 100%;
}


#chartSection{
    display: none;
}

.scroll_on {
    height: 85vh;
}

#chartSection.scroll_on {
    height: 95vh;
}

canvas{
    /*display: table-cell;*/
    /*display:inline-block;*/
    height:95vh;
    width:100vh;
}



/*Weather Icons*/
.svg{
    height: 75px;
}

