html, body {
    height: 100%;
    margin: 0;
    padding: 0;

}

/*START Flexbox Properties*/
#flexContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
    background: #27535F;
    flex-direction: column;
}

#mapContainer{
    flex: 1 0;
    min-height: 400px;
}

#chartContainerOuter{
    /*flex: 0 0 auto;*/
    margin: 10px;
    background: #27535F;
}

#map{
    height: 100%;
}

#chartContainerInner{
    /*display: inline-block;*/
    display: flex;
    flex-flow: row wrap;
    /*align-items: center;*/
    justify-content: center;
}

.chart{
    float: left;
    margin: 20px;
    border-radius: 50px;
}

.svg{
    height: 75px;
}

