{% extends "layout.html" %}
{% block content %}
<div id="flexContainer">
    <!--        Navigation Bar -->
    <nav>
        <div id="navLeft">
            <h1 class="inner" id="pageTitle">Oui Flask</h1>

            <!-- Create a drop down menu where the user can select a station -->
            <div id="dropdown">
                <!-- On change will call the function takeStationID  -->
                <select id="stationSelector" onchange="takeStationID()">
                    {% for row in results: %}
                    <option value="{{row[3]}}">{{row[0]}}</option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div id="navCentre">
            <div class="inner">
                <img id="logo" src="static/images/dublin_bikes.png">
            </div>
        </div>

        <div id="navRight" class="weatherContainer">
            <img id="weatherIcon" class="svg">
            <h4 id="weatherDescription"></h4>
            <img id="weatherThermometer" class="svg">
            <h2 id="weatherTemp"></h2>
        </div>
    </nav>



    <!-- map container -->
    <div id="mapContainer">
        <div id="map"></div>
    </div>

    <div id="chartContainerOuter">
        <div id="chartContainerInner">
            <span class="chart" id="chart_1"></span>
            <span class="chart" id="chart_2"></span>
            <canvas id="chart_3"></canvas>
        </div>
    </div>



<!-- get the weather from back end -->
<script src="static/js/getWeather.js"></script>

<!-- javascript for creating the map -->
    <script type="text/javascript">

        getWeather()

        var dict = {};
        var map;
        var userZoomed = false;
        var zoomListener;

        //important to declare infowindow here so it can be accessed by both dop() and addMarkerWithTimeout() functions
        var infowindow = null;


        function initMap() {
            /*
            function to initialise map, called from the google maps URL at the bottom of page
            creates map object, sets initial location to Dublin, sets initial zoom level
            assigns map object to variable "map"
            Calls function to create markers
            */

            //create map object
            map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng(53.349013,-6.260311), //starting location
                zoom: 13 //starting zoom level
            });

            zoomListener = map.addListener('zoom_changed', function() {
                // infowindow.setContent('Zoom: ' + map.getZoom());
                userZoomed = true;
                console.log("userZoomed");
            });

            //once map object has been made, create markers. Markers are dependant on map so map must be created first
            createMarkers();
        }

        function createMarkers() {
            /*
            Creates placeholder infowindow object
            Defines marker icon
            Loops through nested list from SQL query (passed from routes.py as results)
            Each row is a list of static station information (later will expand for dynamic info also)
            Each station is created as a marker by calling addMarkerWithTimeout function and passes current row values
            as arguements
            */

            // Create placeholder infowindow object
            // Could make this more robust by first checking to see if any rows exist in results as there's no point
            // making info window for station without any stations
            infowindow = new google.maps.InfoWindow({
                content: "Nothing yet"
            });

            // a counter for the loop below to assist with calculating timeout value for staggering drop animation
            var i = 0;

            //Loop through results (SQL query nested list), each row is a different station with all it's values
            {% for row in results: %}

            //What's being assigned here is the values from "address" column in DB as the actual "name"
            // column values are all upper case
            name = '{{row[0]}}';
            number = '{{ row[3] }}';

            var image = generate_heatmap({{row[4]}}, {{row[5]}});

            // This is where we format and populate the information that is going to make up the infowindow
            var contentString =
            `
            <table id="infoWindowContent{{ row[3] }}">
              <caption id="firstHeading{{ row[3] }}" class="firstHeading">`+ name +`</caption>
              <tr>
                <th>Available Bikes</th>
                <th>Available Stands</th>
              </tr>
              <tr id="queryData{{ row[3] }}">
              </tr>
              <tr>
                <td id="moreInfo" colspan="2"><button onclick="AjaxCommunicationForBikeGraph({{ row[3] }});">More Info</button></td>
              </tr>
            </table>`;

            // console.log(contentString);
            //This function is called passing long/lat values for current station, timeout value for stagger drop
            // animation, the image var with set properties for marker icon, as well as the name of station to use
            // as title for marker metadata
            addMarkerWithTimeout({{row[1]}},{{row[2]}}, i * 10, image, name, contentString, number);

            i++; //augmenting loop counter for timout offset

            {% endfor %}
        }


        function addMarkerWithTimeout(latitude, longitude, timeout, image, name, contentString, number) {
            //window.SetTimeout is a built-in function which adds a wait time after every function call before
            // the programme continues. This is how the marker drops are stagger when the page loads
            // It's wrapped within another function so that parameters can be passed and accessed easily.
            window.setTimeout(function() {

                // create the marker object
                var marker = new google.maps.Marker({
                    position: {lat: latitude, lng: longitude},
                    map: map,
                    title: name,
                    animation: google.maps.Animation.DROP,
                    icon: image
                });

                /*
                Add an event listener to marker created above which calls function to close any opinfowindows
                reset the content of the infowindow variable to the value of contentString when lister is
                created. And opens the infowindow
                */
                google.maps.event.addListener(marker, 'click', function(){
                    infowindow.close();
                    infowindow.setContent(contentString);
                    infowindow.open(map, marker);
                    map.setCenter(marker.getPosition());

                    if(!userZoomed){
                        map.setZoom(17);
                        google.maps.event.removeListener(zoomListener);
                    }
                    // call the function making the ajax call
                    AjaxCommunicationForStationID(number);

                });

                // Creates a marker with key value pairs {stationName: markerObject,....}
                dict[number] = marker;

            }, timeout);
        }

    </script>

<!-- javascript to populate the station with bike available -->
    <script src="static/js/takeStationID.js"></script>

    <!-- script to make the graph -->
    <script src="static/js/graph.js"></script>

    <!-- Google Graphs -->
    <!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
    <!-- <script src="static/js/googleGraphMaker.js"></script> -->
    <!-- <script>
    google.load('visualization', '1.0', {
      'packages': ['corechart']
    });

    // creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    var chartVisible = false;
    </script> -->
</div>
{% endblock content %}
            