{% extends "layout.html" %}
{% block content %}

    <h1>OuiBike from OuiTeam</h1>
    <h2>With the help of ouiFlask</h2>

    <div id="map" style="width:100%;height:400px;"></div>

    <script type="text/javascript">
        var markers = [];
        var map;

        var infowindow = null;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: new google.maps.LatLng(53.349013,-6.260311),
                zoom: 13
            });
            drop();
        }

        function drop() {
            var image = {
                url: '/static/icon_dublinbikes.png',
                scaledSize: new google.maps.Size(50, 50)
            };

            clearMarkers();
            var i = 0;

            infowindow = new google.maps.InfoWindow({
                    content: "Nothing yet"
            });

            {% for value in results: %}
                name = '{{value[0]}}';
                // console.log(name);
                // console.log({{value[0]}}, {{value[1]}});
    
                var contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h1 id="firstHeading" class="firstHeading">'+name+'</h1>'+
                '<div id="bodyContent">'+
                '<p></p>'+
                '</div>'+
                '</div>';

                addMarkerWithTimeout({{value[1]}},{{value[2]}}, i * 10, image, name);
                i++;
            {% endfor %}

        }


        function addMarkerWithTimeout(latitude, longitude, timeout, image, name) {
            window.setTimeout(function() {


               var marker = new google.maps.Marker({
                    position: {lat: latitude, lng: longitude},
                    map: map,
                    title: name,
                    animation: google.maps.Animation.DROP,
                    icon: image
                });

               google.maps.event.addListener(marker, 'click', function(){
                   infowindow.close();
                   infowindow.setContent("<div id='infowindow'><h1>"+ name +"</h1></div>");
                   infowindow.open(map, marker);
               });
               markers.push(marker);
            }, timeout);
        }


        function clearMarkers() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3jfCg18B1ksPENyBJTzmkM78Uva1XiKw&callback=initMap"></script>

{% endblock content %}
